<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DigitalLibrary</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddUserServlet</display-name>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddBookServlet</display-name>
		<servlet-name>AddBookServlet</servlet-name>
		<servlet-class>AddBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IssueBookServlet</display-name>
		<servlet-name>IssueBookServlet</servlet-name>
		<servlet-class>IssueBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReturnBookServlet</display-name>
		<servlet-name>ReturnBookServlet</servlet-name>
		<servlet-class>ReturnBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewBookServlet</display-name>
		<servlet-name>viewBookServlet</servlet-name>
		<servlet-class>viewBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewUserServlet</display-name>
		<servlet-name>viewUserServlet</servlet-name>
		<servlet-class>viewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewIssuedBookServlet</display-name>
		<servlet-name>viewIssuedBookServlet</servlet-name>
		<servlet-class>viewIssuedBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logoutServlet</display-name>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>logoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>registerServlet</display-name>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>registerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewMyBookServlet</display-name>
		<servlet-name>viewMyBookServlet</servlet-name>
		<servlet-class>viewMyBookServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewUserBookServlet</display-name>
		<servlet-name>viewUserBookServlet</servlet-name>
		<servlet-class>viewUserBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/AddUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookServlet</servlet-name>
		<url-pattern>/AddBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IssueBookServlet</servlet-name>
		<url-pattern>/IssueBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnBookServlet</servlet-name>
		<url-pattern>/ReturnBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewBookServlet</servlet-name>
		<url-pattern>/viewBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewUserServlet</servlet-name>
		<url-pattern>/viewUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewIssuedBookServlet</servlet-name>
		<url-pattern>/viewIssuedBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewMyBookServlet</servlet-name>
		<url-pattern>/viewMyBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewUserBookServlet</servlet-name>
		<url-pattern>/viewUserBookServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
